body{
    background: linear-gradient(to right, #bcbcf1, #ff00cc);
    font-family: monospace;
}

.container-table{
    width: 90%;
    background: white;
    margin: 50px auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-auto-rows: 50px;
    box-shadow: 0 0 20px #333;
}

.table__title{
    grid-column-start: 1;
    grid-column-end: 6;
    background: #24303c;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 1.9em;
}

.table__header, .table__item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__header{
    font-weight: bold;
    font-size: 1.5em;
}

.table__item{
    padding: 10px;
    font-size: 1.5em;
}